#body{
 background-color:#ffd5cd;
  overflow:hidden;
  height: 37rem;
  /* -webkit-clip-path: ellipse(100% 100% at 50% 0%); */
  /* clip-path: ellipse(100% 100% at 50% 0%); */
}
.search-button:hover{
  color:'blue';
}
#heading1{
  font-family: 'Kanit', sans-serif;
  position: absolute;
  top:11rem;
  left: 5.5rem;
  font-size:5rem;
  overflow:hidden;
}
#heading2{
  font-size: 9rem;
  z-index: 0;
  font-family: 'Bebas Neue', cursive;
  color:red;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  position: relative;
  top:13rem;
  left: 11.5rem;
}

#img1{
  /*display: flex;*/
  z-index: -1;
  border-bottom-left-radius: 5.5rem;
  display: block;
  margin-left: 25%;
  margin-right: auto;
  width: 73%;
  margin-top: -12%;
}
#desc{
  width:30%;
  height:5rem;
  z-index: 2;
  position: relative;
  top:-12.5rem;
  left: 6.7rem;
  text-align: center;
  font-family: 'Kanit', sans-serif;
}
.maincomp-2{
  background-color:#F4F4F4;
  height: 87rem;
}
#services{
  font-family: 'Kanit', sans-serif;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.card-services{
  padding:1rem;
  float: right;
  z-index: 1;
  /* justify-content: center; */
}
.my-card{
  padding: 1rem;
  margin: 1rem;
}
#card1{
  float: right;
}
#card1:hover{
  z-index: 1;
  box-shadow: 0px 8px 50pc rgba(0,0,0,0.2);
  transform: scale(1.05);
  border: black 1px solid;
}
#card2{
  width: 100%;
  position: absolute;
  top:84rem;
  display: flex;
  padding: 1rem;
  justify-content: center;
 
}
.card-hover{
  margin: 1.5rem;
 background-color: white;
 /* border: black 1px solid; */
}
.card-hover:hover{
  z-index: 1;
  box-shadow: 0px 8px 50pc rgba(0,0,0,0.2);
  transform: scale(1.05);
}
#img2{
  display: block;
  z-index: 0;
  position: absolute;
}
